body
  background color-background
  color color-font
  font-family font-default
  font-size 17px
  margin 0
  @media screen and (max-width: 1200px)
    margin 0 30px
  @media screen and (max-width: 600px)
    font-size 14px
    margin 0 10px

h1, h2, h3, h4, h5, h6
  font-family font-title

h1
  font-size 1.8em

h2
  font-size 1.5em

h3
  font-size 1.3em

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width page-width
  margin 0 auto
  @media screen and (max-width: 1200px)
    width 100%

#main-col
  @media screen and (max-width: 1200px)
    width 100%
  @media screen and (max-width: 900px)
    float none

#menu-trigger
  text-decoration none
  position fixed
  outline 0
  z-index 1
  padding 20px 10px
  @media screen and (max-width: 1200px)
    left 0
    top 0
    background color-background
    width 100%
    box-shadow 0px 0px 5px 0px #666
    padding 10px

#menu-trigger:before
  margin 20px

.menu-trigger-push-toright
  margin-left 240px
  transition: all 0.3s ease
  @media screen and (max-width: 900px)
    margin-left 240px
  