html
  overflow-y scroll
body
  background color-background
  color color-font
  font-family font-default
  font-size 17px
  margin 0
  @media screen and (max-width: 1200px)
    margin 0 30px
  @media screen and (max-width: 900px)
    margin 0 20px
  @media screen and (max-width: 600px)
    font-size 15px

h1
  font-size 1.8em

h2
  font-size 1.5em

h3
  font-size 1.3em

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

input, select, textarea, button
  font: inherit

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width page-width
  margin 0 auto
  @media screen and (max-width: 1200px)
    width 100%

#main-col
    width 100%

#menu-trigger
  text-decoration none
  position fixed
  outline 0
  z-index 1
  padding 20px 10px
  @media screen and (max-width: 1200px)
    left 0
    top 0
    background color-background
    width 100%
    box-shadow 0px 0px 5px 0px #666
    padding 10px

#menu-trigger:before
  margin 20px
  @media screen and (max-width: 900px)
    margin 20px 10px
  
.menu-trigger-push-toright
  margin-left 260px
  transition: all 0.3s ease
