// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-default = "Signika", "Helvetica", Arial, sans-serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Signika", Helvetica Neue, Helvetica, Arial, sans-serif
font-icon = FontAwesome

// Width
page-width = 1200px