// Color
color-background = #eee
color-heading = #333
color-font = #333
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-default = "Roboto", "Helvetica", Arial, sans-serif
font-mono = Monaco, Menlo, Consolas, "Courier New", monospace
font-title = "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
font-icon = FontAwesome

// Width
page-width = 1200px